
/*  vars colores */

$textos: rgb(248, 245, 245);
$color1: #ed6ea0;
$color2: #ec8c69;
$color3: rgba(0, 0, 0, 0.726);
$color4: rgb(15, 15, 15);
$color5: rgba(49, 138, 172, 0);
$color6: black;
$color7: rgba(0, 0, 0, 0.664);
$color8: #a8a8a8;
$color9: #97d848;
$color10: #0a141d;
$color11: #0d2033;
$color12: #0a1a2a;

/*  mixin de flex */

@mixin flexible ( $dis , $align , $just , $flex , $text , $back-size , $back-rep , $back-posi ) {
    display: $dis;
    align-items: $align;
    justify-content: $just;
    flex-direction: $flex;
    text-align: $text;
    background-size: $back-size;
    background-repeat: $back-rep;
    background-position: $back-posi;
}


/* menu */

.container-fluid li a{
    font-size: 18px;
}
    a:hover{
    background: linear-gradient(90deg, $color1, $color2);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }


/* all pages */

html{
    scroll-behavior: smooth;
}

/* encabezado - index */

.fondo1{
    @include flexible( flex , center , center , column , center , cover , no-repeat , center center );

    height: 90vh;
    font-size: 20px;
    background-image: linear-gradient(
        0deg,
        $color3,
        $color3
        ),url(../img/portada\ tiny.jpg);
    margin-top: -70px;

    h1 {
        color: $textos;
    }

    p {
        color: $textos;
        font-size: 22px;
        text-align: center;
        font-style: oblique;
        margin-top: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }

    h2 {
        color: $textos;
        text-align: center;
        padding-top: 25px;
        padding: 35px;
        margin: 10px;
    }
}

@media (max-width: 852px){
    .encabezado1{
        padding: 10px;
        margin: 22px;
    }
    .parrafo1{
        margin: 25px;
    }
    .fondo1{
        height: 100vh;
    }
}

/* boton mas info - index */ 

.fondo1 a {
    @include flexible ( inline-flex , center , center , none , none , none , none , none);

        width: 140px;
        height: 50px;
        background-image: linear-gradient(to right, $color1 0%, $color2 100%);
        color: $textos;
        font-size: 20px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        margin-top: 30px;

        &a:hover {
            outline-color: $color5;
            outline-offset: 80px;
            text-shadow: 1px 1px 6px $textos;
        }
}

@media (max-width: 852px){
    .fondo1 a{
        margin-top: 20px;
    }
}


/* all pages */

h1{
    color: $color4;
    text-align: center;
}


/* seccion sobre mi - index */

#sobremi {
    .encabezado2{
        font-size: 30px;
        font-family: cursive;
        text-align: center;
        font-style: oblique;
        padding-top: 10px;
        margin: 0px;
    }
    .parrafo3{
        font-size: 20px;
        text-align: justify;
        color: $textos;
        background-image: linear-gradient(to right, $color1 0%, $color2 100%);
        padding: 30px;
        margin: 30px;
    }

    .img-parrafo2:hover{
        transform:scale(1.1)
    }


    .boton2{
        @include flexible ( inline-flex , center , center , none , none , none , none , none );

        width: 180px;
        height: 50px;
        background-image: linear-gradient(to right, $color1 0%, $color2 100%);
        color: $textos;
        font-size: 18px;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .3s ease all;
        border-radius: 30px;
        position: relative;
        overflow: hidden;
        margin-left: 185px;
        margin-top: 5px;

        &:hover{
            outline-offset: 80px;
            text-shadow: 1px 1px 6px $textos;
        }

        a{
            text-decoration: none;
            color: $textos;
        }
    }
}

@media (min-width: 720px){

    #sobremi .img-parrafo2{
        background-image: url(../img/me.jpeg);
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 350px;
        margin-top: 50px;

        .parrafo2{
            display: flex;
            justify-content: center;
        }

        .texto{
            width: 50%;
            max-width: 600px;
            text-align: initial;
            padding: 0px 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

@media (max-width: 852px){

        #sobremi .img-parrafo2{
            background-image: url(../img/me.jpeg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 450px;
            margin-top: 50px;

        .boton2{
            margin-right: 150px;
        }
    }
}

/* seccion frase - index */

.encabezado4{
    font-size: 38px;
    text-align: center;
    font-style: oblique;
    font-family: cursive;
}


/* tablas - index  y servicios*/

.contenedor1{

@include flexible( flex , center , space-evenly , row , none , none , none , none );

    flex-wrap: nowrap;
    flex-flow: row wrap;
    background-image: linear-gradient(to right, $color1 0%, $color2 100%);
    padding: 70px 5px;

    .item{
        height: 380px;
        width: 290px;
        background-color: $textos;
        text-align: center;
        font-size: 18px;
        margin: 20px;
        padding-top: 35px;
        border-radius: 15px;

    p{
        width: 250px;
        margin: 20px;
        margin-top: -12px;
        color: $color6;
        font-size: 15px;
        text-align: center;
    }
    
    h3 {
        font-size: 25px;
        padding-top: 20px;
    }

    i {
        color: $color2;
    }
    }
}

/* boton subir */ 

.subir{
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to right, $color1 0%, $color2 100%);
    position: fixed;
    bottom: 20px;
    right: 20px;
    text-align: center;
    line-height: 40px;
    color: $textos;
    border-radius: 50%;
    border: 2px solid $textos;
    font-size: 22px;
}

/* blog */

.parrafo5{
    font-size: 20px;
    text-align: center;

    h1{
        color: $color7;
    }

    h2{
        text-align: left;
        margin-left: 188px;
        margin-right: 178px;
        padding-top: 25px;
    }

    .parrafo6{
        text-align: justify;
        margin-left: 188px;
        margin-right: 190px;
        padding-top: 10px;
        font-size: 16px;
    }
}

@media (max-width: 852px){
    .parrafo5{
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 65px;
        margin-right: 65px;

    h2{
        font-size: 25px;
        width: 90vw;
        height: auto;
    }

    img{
        width: 90vw;
        height: auto;
    }
    }

    .parrafo6{
        text-align: justify;
        margin: 0px;
        width: 90vw;
        height: auto;
    }
}


/* encabezado - servicios */ 

#encabezado5{

    @include flexible( flex , none , center, column , center , cover , no-repeat , center center ,);

    height: 90vh;
    background-image: linear-gradient(
        0deg,
        $color7,
        $color7
        ),url(../img/fondoservicios.jpg);
    margin-top: -45px;
    padding: 25px;

    .parrafo{
        color: $textos;
        font-style: oblique;
        margin: 100px;
        margin-top: -35px;
        font-size: 20px;
    }

    .titulo{
        background: linear-gradient(90deg, $color1, $color2);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 100px;
        display: inline-flex;
        font-size: 40px;
    }
}

@media (max-width: 720px){
    #encabezado5 .parrafo{
        display: flex;
        font-size: 18px;
        margin: 0px;
        margin-top: 35px;
    
    .titulo{
        display: flex;
        font-size: 30px;
        margin: 0px;
    }
    }
}


/* body - servicios */ 

#body {
    @include flexible ( flex , none , none , column , justify , none , none , none );
}
.encabezado8{
    text-align: center;
    margin-left: 368px;
    margin-right: 350px;
}
.alineacion2{
    margin-left: 368px;
    margin-right: 350px;
    font-size: 22px;
    font-style: oblique;
    font-weight: bold;
}
.imagenes1{
    text-align: center;
}
.alineacion3{
    padding-top: 20px;
    margin-left: 373px;
    margin-right: 373px;
    font-size: 30px;
    
p{
    font-size: 16px;
}
}
.subtitulos{
    padding-top: 20px;
    margin-left: 378px;
    margin-right: 375px;
    font-size: 30px;
    font-weight: bold;
    color: $color1;
    margin-block-end: 20px;
}
.lista{
    margin-left: 330px;
    margin-right: 350px;
    font-size: 16px;
}

.comentario1{
    text-align: center;
    margin-left: 368px;
    margin-right: 350px;
    font-size: 25px;
    color: $color1;
    font-style: oblique;
}
.alineacion4{
    text-align: center;
    font-size: 0px;
    padding-top: 50px;
    margin-block-end: -20px;
}

@media (max-width: 852px){
    .alineacion2{
        display: flex;
        text-align: left;
        font-size: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .alineacion3{
        font-size: 18px;
        width: 65vw;
        height: auto;
    
    p{
        width: 90vw;
        height: auto;
        margin-left: -355px;
        margin-right: px;
    }
    }

    .subtitulos{
        font-size: 20px;
        font-weight: bold;
        color: $color1;
        width: 88vw;
        height: auto;
        margin-left: 20px;
        margin-right: 10px;
        
    }

    .lista{
        width: 90vw;
        height: auto;
        margin-left: -25px;
        font-size: 15px;
    }

    .encabezado8{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 15px;

    }
    .comentario1{
        font-size: 22px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .imagenes1 img{
        width: 90vw;
        height: auto;
    }
}


/* tablas - servicios */

.item1{
    height: 250px;
    width: 320px;
    background-color: $textos;
    text-align: center;
    padding-top: 45px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 15px;
    font-size: 19px;
    color: $color6;
    margin: 20px;

    p{
        width: 250px;
        margin-left: 30px;
        margin-right: px;
        font-size: 15px;
        margin-top: -10px;
    }
}


/* pagina contacto */

#fondo-contacto{
    height: 100%;
    background-image: linear-gradient(to right, $color1 0%, $color2 100%);
    padding-top: 20px;
    padding-block-end: 90px;
}
.contact_form{  
    width: 460px; 
    height: auto;
    margin: 80px auto;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: $textos; 
    padding-left: 30px; 
}

input{
    background-color: $textos; 
    width: 408px; 
    height: 40px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color1; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
}

textarea{
    background-color: $textos; 
    width: 405px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: $color1; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label{
    display: block; 
    float: center;  
}

button{
    height: 45px; 
    margin-bottom: 20px; 
    text-transform: uppercase;
    background-color: $color1; 
    border-color: $color2; 
    border-style: solid; 
    border-radius: 10px;  
    width: 120px;   
    cursor: pointer;

    p{
        color: $textos; 
        font-size: 15px;
        margin-top: 8px;
    }    
}

span{
    color: $color1; 
}

.aviso{
    font-size: 13px;  
    color: $color6;  
}

h1{
    font-size: 39px;  
    text-align: letf; 
    padding-bottom: 20px; 
    color: $color1;
}

h3{
    font-size: 16px; 
    padding-bottom: 30px;
    color: $color6;   
}

p{
    font-size: 14px; 
    color: $color6; 
}

::-webkit-input-placeholder {
    color: $color8;
}

::-webkit-textarea-placeholder {
    color: $color8;
}

.formulario input:focus{
    outline:0;
    border: 1px solid $color9;
}

.formulario textarea:focus{
    outline:0;
    border: 1px solid $color9;
}

.encabezado7{
    text-align: center;
    font-size: 25px;
    color: $textos;
    margin: 35px;
}

.imagenes1 iframe{
    border-radius: 5px; 
    width: 470px;
}

@media (max-width: 852px){

.imagenes1 iframe{
    width: 90vw;
    height: 50vw;
    border-radius: 5px; 
}

.contact_form{  
    width: 90vw; 
    height: auto;
}
}

/* paginas sobre mi */ 

@media (min-width: 720px){

    #seccion-sobremi{
        background-image: url(../img/unsplash.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 95px;
        margin-top: 30px;

        h2{
            font-size: 50px;
            text-align: center;
            font-family: cursive;
        }
    }

    #sobremi{
        .img-sobremi{
            background-image: url(../img/sobremi.webp);
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 350px;
            margin-top: 50px;
        }
        .parrafo2{
            display: flex;
            justify-content: center;
        }
        .texto-1{
            margin-top: 20px;
        }

        .img-sobremi-1{
            background-image: url(../img/sobremi1.webp);
            background-size: cover;
            background-position: center center;
            height: 450px;
            width: 350px;
            margin-top: 50px;
        
                &:hover{
                    transform:scale(1.1)
                }
            }
        .img-sobremi:hover{
            transform:scale(1.1)
    }
    }
    
    .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (max-width: 852px){

    #sobremi .img-sobremi{
            background-image: url(../img/sobremi.webp);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 450px;
            margin-top: 50px;
            
            .img-sobremi-1{
                background-image: url(../img/sobremi1.webp);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 450px;
                margin-top: 50px;
                
                    &:hover{
                        transform:scale(1.1)
                    }
                }
            
            &.img-sobremi:hover{
                transform:scale(1.1)
            }
    }

    #seccion-sobremi{
        h2{
            text-align: center;
        }
    }
}


/* footer */

.pie-pagina{
    width: 100%;
    background-color: $color10;

    .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 45px 0px;
    }
    
    .box figure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: center;
    }
        img{
            width: 150px;
            margin-left: 100px;
        }
    
    .box h2{
        color: $textos;
        margin-bottom: 25px;
        font-size: 20px;
    
        p{
            color: $textos;
            margin-bottom: 10px;
        }
    }
    .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: $textos;
        margin-right: 10px;
        background-color: $color11;
        text-align: center;
        transition: all 300ms ease;
    }
    &a:hover{
            color: $color1;
        }
    
    .grupo-2{
        background-color: $color12;
        padding: 15px 10px;
        text-align: center;
        color: $textos;

            small{
                font-size: 15px;
            }
    }
    .box li{
        list-style: none;

        a{
            color: $textos;
        }
        &a:hover{
            @extend a, :hover
        }
    }    
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}
